/* SCSS HEX */
$slate-gray: #628395ff;
$middle-grey: #96897bff;
$medium-champagne: #dfd5a5ff;
$earth-yellow: #dbad6aff;
$camel: #cf995fff;
$react-blue: #61dafb;
$primary-color: #99CDA9;
$secondary-color: #D1E9D2;
$tertiary-color: #E5F4E7;
$quarternary-color: #F1FDF3;
$quinary-color: #0c661b;

// *, ::after, ::before {
//   box-sizing: unset;
// }

.App {
  text-align: center;
}

.navbar-collapse {
  flex-grow: 0;
}

section {
  background-color: $tertiary-color;
  min-height: 80vh;
  padding: 3vh 3vh;
}

form input, form textarea {
  min-width: 50vw;
  border-radius: 6px;
  border-width: 1px;
}

// .row>*{
//   padding: 0;
// }

.nav-container {
  min-height: 100px;
}

.navBg {
  background-color: $quarternary-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 10vh;
}

.nav-link {
  color: $primary-color;
}

.contact-btn {
  background-color: $primary-color;
}

.work img {
  width: 100%;
  border: solid 1px #0c661b;
  vertical-align: inherit;
}

.avatar {
  width: 175px;
  margin: 15px 0;
}

.work img:hover {
  border: solid 1px $react-blue;
}

.btn-outline-success {
  color: #fff;
  border-color: $quinary-color;
  margin: 8px 1vw 8px 1vw

}

.btn-outline-success:hover {
  background-color: $quinary-color;
  color: black;
}

.component {
  background-color: $secondary-color;
  padding: 3vh 3vh;
  min-height: 73vh;
}

Footer {
  display: flex;
  background-color: $primary-color;
  min-height: 10vh;
  align-content: center;
  flex-wrap: wrap;
}

.navbar-nav .nav-link.active{
  color: $slate-gray
}

.nav-container {
  margin: 0;
  width: 100%;
}

h1{
  color: $primary-color;
  text-shadow: 2px 1px $quinary-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: $quinary-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}

.github-link a {
  text-decoration: underline;
  color: $primary-color;
  text-shadow: 1px 1px $quinary-color;
}

.github-link a:hover {
  color: $slate-gray;
}

@media (max-width: 267px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-link {
    font-size: larger;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}